.board {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;

  & > .row {
    display: flex;
    width: 100%;
    height: 100%;

    & > .cell {
      position: relative;
      width: 100%;
      height: 100%;

      &.even { background: $even; }
      &.odd { background: $odd; }
      &.even > span { color: $odd; }
      &.odd > span { color: $even; }
      &.selected.even { background: $selectedEven; }
      &.selected.odd { background: $selectedOdd; }
      &.move:after {
        content: "";
        position: absolute;
        top: 35%;
        left: 35%;
        z-index: 1;
        width: 30%;
        height: 30%;
        border-radius: 100%;
        background: $move;
      }

      &:not(a) > .piece:hover { cursor: auto; }
      &.move:hover { cursor: pointer; }

      & > span {
        position: absolute;
        font-size: 20px;
        font-weight: bold;
        padding: 5px;

        @media only screen and (max-width: 1150px) { font-size: 18px; padding: 3.0px; }
        @media only screen and (max-width: 1025px) { font-size: 16px; padding: 2.5px; }
        @media only screen and (max-width: 900px ) { font-size: 14px; padding: 2.0px; }
        @media only screen and (max-width: 525px ) { font-size: 12px; padding: 1.0px; }
        @media only screen and (max-width: 425px ) { font-size: 10px; padding: 0.5px; }

        &.xCoords { bottom: 0px; right: 0px; }
        &.yCoords { top: 0px; left: 0px; }
      }

      & > .piece {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 5em;
        -webkit-text-stroke: 3px $pieceOutline;
        width: 100%;
        height: 100%;

        @media only screen and (max-width: 1150px) { font-size: 4.4em; -webkit-text-stroke-width: 2.5px; }
        @media only screen and (max-width: 1025px) { font-size: 3.8em; -webkik-text-stroke-width: 2.0px; }
        @media only screen and (max-width: 900px ) { font-size: 3.2em; -webkit-text-stroke-width: 1.5px; }
        @media only screen and (max-width: 525px ) { font-size: 2.6em; -webkit-text-stroke-width: 1.0px; }
        @media only screen and (max-width: 425px ) { font-size: 2.0em; -webkit-text-stroke-width: 0.5px; }

        &:hover { cursor: pointer; }
        &.black > i:before { color: $blackPiece; font-family: inherit; }
        &.white > i:before { color: $whitePiece; font-family: inherit; }
      }
    }
  }
}
