.gameInformation {
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 800px;
  margin-left: 25px;
  background: $container;

  & > .movesHistory {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    counter-reset: line;
    max-height: 100%;
    overflow-y: auto;

    & > button {
      position: relative;
      display: flex;
      justify-content: center;
      padding: 5px 0px;
      width: 50%;
      color: $text;
      font-size: 18px;

      &:hover { cursor: pointer; }
      &.active { font-weight: bold; }
      &:nth-child(4n + 3), &:nth-child(4n + 4) { background: $lightContainer; }
      &:nth-child(2n + 1) {
        counter-increment: line;

        &:before {
          content: counter(line)".";
          position: absolute;
          font-weight: normal;
          top: 0px;
          left: 0px;
          padding: 5px 10px;
        }
      }
    }
  }

  & > .actions {
    display: flex;
    flex-direction: row;
    margin-top: auto;
    width: 100%;

    & > button {
      width: 100%;
      font-size: 26px;
      padding: 15px;

      &:hover { background: $lightContainer; cursor: pointer; }
      & > i:before { font-family: inherit; }
      &:disabled:hover { background: transparent; cursor: auto; }
      &:disabled > i:before { color: $disabled; }
    }
  }
}
