.gameMenu {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: $move;

  & > .container {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 50%;
    padding: 10px;
    background: $background;

    & > h2 {
      font-size: 34px;
      padding: 10px;
      text-align: center;
    }

    & > .score > p {
      display: flex;
      justify-content: space-between;
      font-size: 26px;
      padding: 0px 20px;

      & > span {
        display: block;
        width: 37.5%;
        height: 30px;

        &.white { background-color: $whitePiece; }
        &.black { background-color: $blackPiece; }
      }
    }

    & > button {
      font-size: 18px;
      padding: 10px;
      place-self: flex-end;
      margin-top: auto;
      background: $container;

      &:hover {
        cursor: pointer;
        background: $lightContainer;
      }
    }
  }
}
