.promotionMenu {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: $fade;
  width: 100%;
  height: 300%;
  z-index: 1;

  &.white:not(.flip), &.black.flip { flex-direction: column-reverse; top: 100%; }
  &.black:not(.flip), &.white.flip { flex-direction: column; bottom: 100%; }

  & > .piece {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5em;
    -webkit-text-stroke: 3px $backgroundLight;
    width: 100%;
    height: 100%;

    @media only screen and (max-width: 1150px) { font-size: 4.4em; -webkit-text-stroke-width: 2.5px; }
    @media only screen and (max-width: 1025px) { font-size: 3.8em; -webkik-text-stroke-width: 2.0px; }
    @media only screen and (max-width: 900px ) { font-size: 3.2em; -webkit-text-stroke-width: 1.5px; }
    @media only screen and (max-width: 525px ) { font-size: 2.6em; -webkit-text-stroke-width: 1.0px; }
    @media only screen and (max-width: 425px ) { font-size: 2.0em; -webkit-text-stroke-width: 0.5px; }

    &:hover { cursor: pointer; }
    &.black > i:before { color: $blackPlayer; font-family: inherit; }
    &.white > i:before { color: $whitePlayer; font-family: inherit; }
  }
}
