@import "./variables.scss";
@import "./reset.scss";
@import "./components/components.scss";

*, *:before, *:after {
  font-family: Arial, Helvetica, sans-serif;
  color: $text;
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: $background;
  transition: none;

  & > #app {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;

    & > .gameContainer {
      position: relative;
      width: 800px;
      height: 800px;
    }
  }
}
