$background: #212121;
$container: #2a2a2a;
$lightContainer: #313131;
$text: #ffffff;

$even: #769656;
$odd: #eeeed2;
$selectedOdd: #f7f783;
$selectedEven: #bacb44;
$move: #000000aa;

$whitePiece: #f8f8f8;
$blackPiece: #565352;
$pieceOutline: #262626;
